.idea/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
public/.DS_Store
*.DS_Store
docker-compose.override.yml
/.make.*

# Environment files
api/.env
client/.env
api/.env.*
client/.env.*
!.env.example
!api/.env.example
!client/.env.example
config.bat
node_modules
